{% block nav_blog %}
    <p class="clopener">
        <i class="fa fa-th"></i>
    </p>
    <nav id="inside">
        <ul class="">
            <li class=""><a href="/" title="{{ data.nav_home_title }}">{{ data.nav_home }}</a></li>
            <li class=""><a href="/blog" title="{{ data.nav_blog_title }}">{{ data.nav_blog }}</a></li>
            <li class=""><a href="/services" title="{{ data.nav_services_title }}">{{ data.nav_services }}</a></li>
            <li class=""><a href="/about" title="{{ data.nav_about_title }}">{{ data.nav_about }}</a></li>
            <li class="top_menu jeraf"><a href="https://jeraf.tv" title="jeraf.tv">Jeraf.tv</a></li>
        </ul>
    </nav>
{% endblock %}