$blog_color: #008CBA;
$blog_font: "Courier New", Courier, monospace;
$font_family: "Courier New", Courier, monospace;

body.blog {
  background: #fff;
  font-family: $blog_font;
}

.blog {

  #inside {

    &.hidden {
      width: 0;
    }
  }

  #aside_nav {

    &.hidden {
      width: 0;
    }

    .clopener {
      left: 100%;
      top: -7%;

      &.clopener_pos {
        left: 0;
      }
    }
    a {
      font-size: 1.3em;
      font-family: $font_family;
    }

  }

  #blogeg {

    .thePost {

      img {
        height: initial !important;
        width: 40% !important;
        float: left;
        padding: 0 0.5em 0.5em 0;
      }
    }
  }
}

#blogeg, #blogeg_article {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 3em;
}

.heading_row {
  border-bottom: 1px solid #DDDDDD;
  width: 100%;
  position: relative;

  h1 {
    font-family: $font_family;
    color: #6f6f6f;
    font-size: 3em;
  }

  .rss_show {
    position: absolute;
    right: 1em;
    top: 1em;

    a {
      font-size: 2em;
      color: #FF6600;
    }
  }
}

.post_wra {
  width: 100%;
  margin-bottom: 25px;
  border-bottom: 1px solid #DDDDDD;

  .backtoBlog {
    cursor: pointer;
  }
}

#blogeg_article {

  .post_wra {
    margin-top: 0;
  }
}

.article_link {
  color: $blog_color;
  text-decoration: none;
  font-size: 1.5em;
  font-family: Arial, "MS Trebuchet", sans-serif;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    text-shadow: 1px 2px 2px #000;
    text-decoration: underline;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.credit {

  p {
    color: #6f6f6f;
    font-size: 1em;
    display: block;
    margin-top: 0.4em;
  }
}

#blogeg_article {
  .credit {
    p {
      margin-top: 5px;
    }
  }
}

.comments {
  display: inline-block;
  color: $blog_color;
  margin-left: 5px;
}

.thePost {
  line-height: 1.2em;
  font-size: 1.65em;
  color: #3A4145;
  margin: 1em 0;
  position: relative;

  p {
    color: #3A4145;
    margin: 1em 0 0;
    font-size: 1em;
    line-height: inherit;
    font-family: initial;

    img {
      text-align: center;
      display: block;
      margin: 0 auto;
      height: initial !important;
      max-width: 100%;
    }

    iframe {
      margin: 0 auto 1em;
      display: block;
    }
  }

  hr {
    display: none;
  }

  a {
    color: $blog_color;

    &:hover {
      text-shadow: 1px 0 0 #000;
      text-decoration: underline;
    }
  }

  .more_link {
    text-decoration: none;
    font-size: 0.8em;
    position: absolute;
    right: 0.5em;
    bottom: -2.5em;
    &:hover {
      text-shadow: none;
    }
  }

}

#blogeg_article {
  .thePost {
    p {
      display: block;
    }
  }
}

.readMore {
  color: $blog_color;
  font-size: 1.2em;
  text-decoration: underline;
  position: relative;
}

.readMore:hover, .comments:hover {
  text-shadow: 1px 0 0 #000;
  text-decoration: underline;
}

#sharing {
  margin: 2em 0;
}

@media screen and (max-width: 1200px) {

  #blogeg, #blogeg_article {
    width: 76%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.clopener_ser {
      width: 96%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      margin-left: 1%;
    }
  }

}

@media screen and (max-width: 900px) {

  .blog {

    .heading_row {

      h1 {
        text-align: center;
      }
    }

    #inside {

      &.hidden {
        width: 0;
      }
    }

    #aside_nav {
      display: block;
      width: 100%;
      text-align: center;
      margin: 2% 0 0;

      &.hidden {
        width: 0;
      }

      li {
        display: inline;
      }

      .clopener {
        display: none;

        &.clopener_pos {
          left: 0;
        }
      }
      a {
        font-size: 1.3em;
        font-family: $font_family;
      }

    }
  }

  #blogeg, #blogeg_article {
    width: 98%;
    margin: 2% 1%;
  }

}

@media screen and (max-width: 600px) {

  .blog {

    .thePost {
      margin: 1em 0 2em;

      iframe {
        width: 100% !important;
      }

      img {
        width: 100% !important;
        float: inherit;
      }

      .more_link {
        right: inherit;
        left: 0;
        bottom: -2.5em;
      }
    }

    .rss_show {
      display: none;
    }
  }
}

