{% extends '../../layout/layout-services.html' %}
{% block title %}Services{% endblock %}
{% block content %}

    <section id="services">
        <section class="row make_post">
            <form name="edit_post" id="edit_post_id">
                <div class="large-9 columns">
                    <div>
                        <input type="text" name="title" placeholder="Title" value="{{ post_data.post_title }}"
                               required/>
                    </div>
                    <div>
                        <input type="text" name="post_link" placeholder="Post link(Leave blank to auto generate)"
                               value="{{ post_data.post_link }}"/>
                    </div>
                    <div>
                        <textarea placeholder="Post Body" name="post_body" rows="30" cols="50"
                                  required>{{ post_data.post_body }}</textarea>
                        <script>
                            var editor = CKEDITOR.replace('post_body');
                            editor.on('change', function (evt) {
                                console.log('evt.editor.getData() ', evt.editor.getData());
                                $('textarea').val(evt.editor.getData());
                            });
                        </script>
                    </div>
                    <div>
                        <input type="hidden" name="post_id" value="{{ post_data.id }}"/>
                    </div>
                </div>
                <div class="large-3 columns post_pref">
                    <label for="checkbox_publish">Publish?</label>
                    <input type="checkbox" name="publish" id="checkbox_publish" value="Publish"/>
                    <button>Edit post</button>
                </div>
            </form>
        </section>
    </section>

{% endblock %}